
<div class="row">
    <div class="col-12 col-md-12">
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-sm">
              <h4>{{menuAccion}}</h4>
            </div>
            <div class="col-sm">
              <button type="button" class="close" aria-label="Close" title="Cerrar Modal" (click)="cerrarModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
           <form class="form-horizontal" #form="ngForm">
              <div class="form-group">
                <label class="control-label col-sm-2" for="usuario">Nombre de sistema:</label>
                <div class="col-sm-12">
                  <input type="text" class="sistemas" id="nombresistema" title="Nombre de sistema" placeholder="Nombre de sistema" name="nombresistema"
                    #nombreSistema="ngModel" required [(ngModel)]="this.nuevoSistema.nombre">
                  <div *ngIf="nombreSistema.invalid && (nombreSistema.dirty || nombreSistema.touched)">
                    <small *ngIf="nombreSistema.errors.required" class="form-text text-muted text-danger text-right">Nombre de sistema requerido...</small>
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2" for="pais">País:</label>
                  <div class="col-sm-12">
                    <input type="text" class="sistemas" id="nombrepais" title="Nombre de país" placeholder="País" name="nombrepais"
                      #nombrePais="ngModel" required [(ngModel)]="this.nuevoSistema.pais">
                    <div *ngIf="nombrePais.invalid && (nombrePais.dirty || nombrePais.touched)">
                      <small *ngIf="nombrePais.errors.required" class="form-text text-muted text-danger text-right">Nombre de país requerido...</small>
                    </div>
                  </div>
                </div>
              
                <div class="form-group">
                    <label class="control-label col-sm-2" for="provincia">Provincia:</label>
                    <div class="col-sm-12">
                      <input type="text" class="sistemas" id="nombreprovincia" title="Nombre de provincia" placeholder="Povincia" name="nombreprovincia"
                        #nombreProvincia="ngModel" required [(ngModel)]="this.nuevoSistema.provincia">
                      <div *ngIf="nombreProvincia.invalid && (nombreProvincia.dirty || nombreProvincia.touched)">
                        <small *ngIf="nombreProvincia.errors.required" class="form-text text-muted text-danger text-right">Nombre de provincia requerido...</small>
                      </div>
                    </div>
                  </div>
            
                  <div class="form-group">
                      <label class="control-label col-sm-2" for="canton">Cantón:</label>
                      <div class="col-sm-12">
                        <input type="text" class="sistemas" id="nombrecanton" title="Nombre de cantón" placeholder="Cantón" name="nombrecanton"
                          #nombreCanton="ngModel" required [(ngModel)]="this.nuevoSistema.canton">
                        <div *ngIf="nombreCanton.invalid && (nombreCanton.dirty || nombreCanton.touched)">
                          <small *ngIf="nombreCanton.errors.required" class="form-text text-muted text-danger text-right">Nombre de cantón requerido...</small>
                        </div>
                      </div>
                    </div>
            <button type="button" class="btn btn-success" title="Guardar" [disabled]="form.invalid" (click)="decisionModoInsertarEditar()">Guardar</button>
          </form>  
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  