<toaster-container  [toasterconfig]="config"></toaster-container>
<nb-auth-block>
  <img src="../../../favicon.png" alt="Icono simbólico panel solar">
  <h2 class="title">Gestión de datos de paneles solares</h2>
  <small class="form-text sub-title">Desarrollado por el Instituto Tecnológico de Costa Rica</small>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)"  autocomplete="nope">
    <div class="form-group">
      <label for="usuario"   class="sr-only">Nombre de Usuario</label>
      <input name="usuario" type="text"  id="usuario"
             class="form-control" placeholder="Nombre de Usuario"
             [(ngModel)]="usuario.usuario" #usuario="ngModel"
             [class.form-control-danger]="usuario.invalid && usuario.touched" required>
      <small class="form-text error text-right" *ngIf="usuario.invalid
      && usuario.touched && usuario.errors?.required">
        Por favor ingrese su nombre de usuario!
      </small>
    </div>

    <div class="form-group">
      <label for="contrasenna" class="sr-only">Contraseña</label>
      <input name="contrasenna"  type="password" id="contrasenna"
             class="form-control" placeholder="Contraseña"  [(ngModel)]="usuario.contrasenna"
             #contrasenna="ngModel" [class.form-control-danger]="contrasenna.invalid && contrasenna.touched" required>
      <small class="form-text error text-right" *ngIf="contrasenna.invalid && contrasenna.touched && contrasenna.errors?.required">
        Por favor ingrese su contraseña!
      </small>
    </div>
    <div class="form-group accept-group col-sm-12">
      <a class="forgot-password" href="#">¿Olvidaste la contraseña?</a>
    </div>

    <button class="btn btn-block btn-hero-primary" type="submit">
      Iniciar Sesión
    </button>
  </form>
</nb-auth-block>

