<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h2>Gestión usuarios</h2>
          </div>

          <div class="col">
            <div class="input-group">
              <input type="text" class="form-control" name="busqueda" [(ngModel)]="busqueda" placeholder="Buscar usuario...">
              <div class="input-group-prepend">
                <span class="input-group-text color-icon text-light" id="basic-addon1">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <div class="input-group-btn search-panel">
                <select title="Seleccionar opción de busqueda" class='form-control' id="dropdownbox" required [(ngModel)]='seleccionado'>
                  <option class='opcion bg-light text-dark' *ngFor='let filtro of filtros' [value]="filtro">{{filtro}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </nb-card-header>

      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <div class="button-group col align-self-end">
          <button class="float-right btn btn-success" (click)="crearModal(null)" title="Agregar usuario">Agregar
            <i class="fa fa-plus"></i>
          </button>
        </div><br>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Usuario</th>
              <th>Rol</th>
              <th>Institución/empresa</th>
            </tr>

            <tr *ngFor="let dato of listaUsuarios | filtro:busqueda:seleccionado |
              paginate: { itemsPerPage: 8, currentPage: p }">
              <td>{{dato.nombre}}</td>
              <td>{{dato.correo}} </td>
              <td>{{dato.usuario}}</td>
              <td>{{dato.nombre_rol}}</td>
              <td>{{dato.nombre_sistema}}</td>
              <td>
                <div class="btn-group">
                  <button text="Editar" class="btn btn-primary" (click)="crearModal(dato)" title="Editar">Editar
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button class="btn btn-danger" (click)="eliminar(dato)" title="Eliminar">Eliminar
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </nb-card-body>
      <nb-card-footer>
          <pagination-controls class="my-pagination pagination justify-content-center" maxSize="9" (pageChange)="p = $event" autoHide="true"
            previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </nb-card-footer>
      </nb-card>
  </div>
</div>
