<div class="chart-header">
  <ngx-legend-chart [legendItems]="chartLegend"></ngx-legend-chart>

  <div class="dropdown"
       [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }"
       ngbDropdown>
    <button type="button" ngbDropdownToggle class="btn"
            [ngClass]="{
              'btn-outline-success': currentTheme === 'default',
              'btn-primary': currentTheme !== 'default',
              'btn-sm': breakpoint.width <= breakpoints.is}">
      {{ type }}
    </button>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li class="dropdown-item" *ngFor="let period of types" (click)="changePeriod(period)">
        {{ period }}
      </li>
    </ul>
  </div>

  <div class="dropdown"
    [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }"
    ngbDropdown>
  <button type="button" ngbDropdownToggle class="btn"
        [ngClass]="{
          'btn-outline-success': currentTheme === 'default',
          'btn-primary': currentTheme !== 'default',
          'btn-sm': breakpoint.width <= breakpoints.is}">
  {{ typeDispositivo }}
  </button>
  <ul class="dropdown-menu scrollable-menu" ngbDropdownMenu>
    <li class="dropdown-item" *ngFor="let dispositivo of dispositivos" (click)="changeDispositivo(dispositivo.deviceid)">
      DeviceId: {{ dispositivo.deviceid }}
      <br>
      <small>Nombre: {{dispositivo.nombre}}</small>
    </li>
  </ul>
  </div>
  
</div>
