$predictionHeightVal: 47px;

::ng-deep {
  #predictionSubmitBar {
    #ngIntervaloSelect {
      .ng-select-container {
        padding: 0.75rem 1.125rem;
        height: 47.3px;
        //border-width: 2px;
        border-right-width: 0.5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    input[target=_presubbar] {
      height: 47.3px;
      border-left-width: 0;
      border-radius: 0;
      border: 1px solid #ced4da;
    }

    div > .btn-success {
      margin: 0;
      height: 47.3px;
    }
  }

  #reentrenar-btn{
    margin: 0;
    height: 47.3px;
  }


  #chart {
      height: 100%;
      width: 100%;
  }

  .tooltip-header {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
  }

  .tooltip-body {
    width: 170px;

    .series-name {
      font-weight: normal;
      opacity: 0.6;
      display: inline-block;
      line-height: 1.5;
      padding-right: 10px;
      width: 126px;
    }

    .value-text {
      display: inline-block;
      line-height: 1.5;
      width: 30px;
    }
  }
}

.table {
    text-align: center;
  }
  
  .table th {
    border-top: none;
  }
  
  .my-pagination /deep/ .ngx-pagination a:hover {
    text-decoration: none;
    color: black;
  }
  
  #dropdownbox {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    background-color: #428bca;
    border-color: #428bca;
  }
  
  .color-icon {
    background-color: #428bca;
    border-color: #428bca;
  }
  button{
    margin:2%;
  }