<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h2>Predicciones</h2>
          </div>

        </div>
      </nb-card-header>

      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <div class="button-group col align-self-end">

          <div id="predictionSubmitBar" class="float-left" style="width: 50%">
              <div class="input-group">
                <ng-select [items]="intervalosConfianza"
                           [clearable]="false"
                           bindLabel="name"
                           placeholder="Seleccionar % del intervalo de confianza"
                           #intConfianza="ngModel"
                           name="intConfianza"
                           [(ngModel)]="seleccionadoIntConf"
                           id="ngIntervaloSelect">
                </ng-select>
                
                <div class="input-group-append">
                    <input 
                      id="meses" 
                      class="form-control" 
                      placeholder="Meses a predecir" 
                      name="meses" 
                      type="number"
                      min="1"
                      #meses="ngModel"
                      required
                      [(ngModel)]="this.mesesAPredecir"
                      onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                      target=_presubbar>
                </div>
                <div class="input-group-append">
                  <button type="button" class="btn btn-success" title="Predecir" (click)="solicitarPrediccion()">Predecir
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </div>
          </div>
          
          <div *ngIf="this.rolActual==1 || this.rolActual==2">
            <button type="button" class="float-right btn btn-danger" title="Re-entrenar patron" (click)="reEntrenarButton()" id="reentrenar-btn">Re-entrenar patron
              <i class="fa fa-sync"></i>
            </button>
          </div>          
        </div><br>

        <loading-spinner *ngIf="showSpinner"></loading-spinner>

        <dx-chart id="chart" palette="Harmony Light" [dataSource]="predictionsList" *ngIf="!showSpinner">
          <dxo-argument-axis argumentType="date" type="discrete">
          </dxo-argument-axis>
          <dxo-tooltip 
            [enabled]="true"
            [shared]="true"
            [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
          <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
          <dxi-series argumentField="_row" valueField="upr" name="upr"></dxi-series>
          <dxo-argument-axis [visualRange]="{startValue:150, endValue:1100}">
          </dxo-argument-axis>
          <dxi-series argumentField="_row" valueField="lwr" name="lwr"></dxi-series>
          <dxi-series argumentField="_row" valueField="fit" name="fit"></dxi-series>
          <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
          <dxo-legend 
            [visible]="true"
            horizontalAlignment="center"
            ></dxo-legend>
        </dx-chart>

        <!--div class="table-responsive">
          <table class="table">
            <tr>
              <th>asd</th>
              <th>asd</th>
            </tr>
          </table>
        </div> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>
