<nb-card size="large">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Datos de paneles solares">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                [typeDispositivo]="dispositivo"
                                [dispositivos]="listaDispositivos"
                                (periodChange)="setPeriodAndGetChartData($event)"
                                (dispositivoChange)="setDispositivoGetChartData($event)">
                                
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart>
      </div>
    </nb-tab>
    

  </nb-tabset>
</nb-card>
