<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h2>Gestión inversores</h2>
          </div>

          <div class="col">
            <div class="input-group">
              <input type="text" class="form-control" name="busqueda" [(ngModel)]="busqueda" placeholder="Buscar inversor...">
              <div class="input-group-prepend">
                <span class="input-group-text color-icon text-light" id="basic-addon1">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <div class="input-group-btn search-panel">
                <select title="Seleccionar opción de busqueda" class='form-control' id="dropdownbox" required [(ngModel)]='seleccionado'>
                  <option class='opcion bg-light text-dark' *ngFor='let filtro of filtros' [value]="filtro">{{filtro}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </nb-card-header>

      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Nombre</th>
              <th>Sistema</th>
              <th>Número serial</th>
              <th>ID dispositivo</th>
            </tr>

            <tr *ngFor="let dato of listaDispositivos | filtro:busqueda:seleccionado| paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{dato.nombre}}</td>
              <td>{{dato.nombre_sistema}} </td>
              <td>{{dato.serialnum}}</td>
              <td>{{dato.deviceid}}</td>
            </tr>
          </table>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <pagination-controls class="my-pagination pagination justify-content-center" maxSize="9" (pageChange)="p = $event" autoHide="true"
          previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
