<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header><h5 class="modal-title">{{ tituloModal }}</h5></nb-card-header>
      <nb-card-body>
        {{mensajeModal}}
      </nb-card-body>
      <nb-card-footer>
        <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="aceptar()">{{ botonOk }}</button>
        <button type="button" class="btn btn-danger" (click)="cancelar()">{{ botonCancelar }}</button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
