//tamaño del dialogo del modal
.modal-dialog modal-sm {
    top: 30%;
  }
  
  //tamaño de los labels
  label {
    max-width: 50%;
  }
  
  nb-card {
    height: 100%;
    margin-bottom: 0%;
  }
  button{
    margin:5%;
  }
  