label {
    max-width: 50%;
  }
  
  nb-card {
    height: 100%;
    margin-bottom: 0%;
  }
  
  .usuarios {
    margin-left: -15px;
    padding-left: 10px;
    color: #333;
    width: 105%;
    box-sizing: content-box;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    cursor: default;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  