
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-sm">
            <h4>{{menu}}</h4>
          </div>
          <div class="col-sm">
            <button type="button" class="close" aria-label="Close" title="Cerrar Modal" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
         <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <label class="control-label col-sm-2" for="usuario">Nombre de usuario:</label>
              <div class="col-sm-12">
                <input type="text" class="usuarios" id="usuario" title="Nombre de usuario" placeholder="Usuario" name="usuario"
                  #usuario="ngModel" required [(ngModel)]="this.nuevoUsuario.usuario">
                <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
                  <small *ngIf="usuario.errors.required" class="form-text text-muted text-danger text-right">Nombre de usuario requerido...</small>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="correo">Correo:</label>
              <div class="col-sm-12">
                <input type="text" class="usuarios" id="correo" title="Correo" placeholder="Correo" name="correo"
                  #correo="ngModel" required [(ngModel)]="this.nuevoUsuario.correo">
                  <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                    <small *ngIf="correo.errors.required" class="form-text text-muted text-danger text-right">Correo requerido...</small>
                  </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="nombre">Nombre:</label>
              <div class="col-sm-12">
                <input type="text" class="usuarios" id="nombre" title="Correo" placeholder="Nombre" name="nombre"
                  #nombre="ngModel" required [(ngModel)]="this.nuevoUsuario.nombre">
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <small *ngIf="nombre.errors.required" class="form-text text-muted text-danger text-right">Nombre requerido...</small>
                </div>
              </div>
            </div>

            <div *ngIf="this.modo=='agregar'">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="contrasenna">Contraseña:</label>
                  <div class="col-sm-12">
                    <input type="text" class="usuarios" id="contrasenna" title="Contraseña" placeholder="Contraseña" name="contrasenna"
                      #contrasenna="ngModel" required [(ngModel)]="this.nuevoUsuario.contrasenna">
                      <div *ngIf="contrasenna.invalid && (contrasenna.dirty || contrasenna.touched)">
                      <small *ngIf="contrasenna.errors.required" class="form-text text-muted text-danger text-right">Contraseña requerida...</small>
                    </div>
                  </div>
                </div>
            </div>
          <!-- Esto es porque un usuario normal no puede cambiar de sistema. Por eso se deshabilita-->  
          <div *ngIf="this.rolActual==1">      
            <div class="form-group">
            <label class="control-label col-sm-2" for="sistema">Sistema:</label>
                <ng-select [items]="listaSistemas"
                  [clearable]="false"
                  bindLabel="nombre"
                  placeholder="Seleccionar sistema.."
                  #nombresistema="ngModel"
                  name="nombresistema"
                  [(ngModel)]="selecionadoSistema">
                </ng-select>
              <div *ngIf="nombresistema.errors?.required">
                  <small class="form-text text-muted text-danger text-right">Sistema requerido</small>
              </div>
            </div>
          </div>
    
          <div class="form-group">
            <label class="control-label col-sm-2" for="rol">Rol:</label>
              <ng-select [items]="rolesGenerales"
                         [clearable]="false"
                          bindLabel="nombre"
                          placeholder="Seleccionar rol.."
                          #nombrerol="ngModel"
                          name="nombrerol"
                          [(ngModel)]="seleccionadoRol">
              </ng-select>
              <div *ngIf="nombrerol.errors?.required">
                  <small class="form-text text-muted text-danger text-right">Rol requerido...</small>
              </div>
          </div>
          <button type="button" class="btn btn-success" title="Guardar" [disabled]="form.invalid" (click)="decisionModoInsertarEditar()">Guardar</button>
        </form>  
      </nb-card-body>
    </nb-card>
  </div>
</div>
